@use '@styles/variables' as *;
@use '@styles/helpers' as *;

.main {
  flex: 1;
  min-height: 100%;
  padding-bottom: fluid(32, 64);
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
}

.heroContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
