@use '@styles/variables' as *;
@use '@styles/helpers' as *;

.main {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.heroContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
