@use '@styles/variables' as *;
@use '@styles/helpers' as *;

.container {
  width: 100%;
  margin: 0 auto;

  @include tablet {
    padding: 0 $spacing-xl;
  }

  @include mobile {
    padding: 0 $spacing-lg;
  }

  &--default {
    max-width: 1728px;
    padding: 0 105px;
  }

  &--full {
    min-width: 100%;
    padding: 0;
  }
}
