@use '../variables' as *;
@use '../helpers/' as *;

html {
  font-size: 62.5%; /* 1rem = 10px */
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: $color-primary;
  font-family: $font-family-base;
  font-weight: $font-weight-bold;
}
