@font-face {
  font-family: Roboto;
  src: url('@fonts/Roboto/static/Roboto-Bold.ttf');
  font-style: normal;
  font-weight: 700;
  font-display: wrap;
}

@font-face {
  font-family: Roboto;
  src: url('@fonts/Roboto/static/Roboto-Medium.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: wrap;
}

@font-face {
  font-family: Rokkitt;
  src: url('@fonts/Rokkitt/static/Rokkitt-Bold.ttf');
  font-style: normal;
  font-weight: 700;
  font-display: wrap;
}
