@use './helpers/functions/' as *;

// Цвета
$color-red: hsl(14, 100%, 50%);
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);

$color-primary: $color-white;
$color-secondary: $color-red;

$color-primary-hover: rgba(
  $color: $color-primary,
  $alpha: 0.75,
);
$color-button-hover: rgba(
  $color: $color-secondary,
  $alpha: 0.65,
);

// Шрифты
$font-family-base: 'Roboto', sans-serif;
$font-family-secondary: 'Rokkitt', sans-serif;
$font-size-base: rem(18);

$font-weight-medium: 500;
$font-weight-bold: 700;

// Отступы
$spacing-sm: rem(8);
$spacing-md: rem(12);
$spacing-lg: rem(16);
$spacing-xl: rem(32);

// Радиусы и бордеры
$border-radius-sm: rem(4);
$border-radius-md: rem(8);
$border-radius-lg: rem(16);
$border-radius-xl: rem(32);

$border-width: rem(2);
$border-color: $color-white;

// Тени
$box-shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
$box-shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
$box-shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.2);

$shadow-button: 0 0px 20px
  rgba(
    $color: $color-secondary,
    $alpha: 0.65,
  );

// Переходы
$transition-fast: 0.2s ease-in-out;
$transition-normal: 0.3s ease-in-out;

// Z-индексы
$z-index-header: 1000;
$z-index-modal: 1050;
$z-index-tooltip: 1100;
