@use '@styles/variables' as *;
@use '@styles/helpers' as *;

.hero {
  position: relative;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7) 100%);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.pageTitle {
  font-family: $font-family-secondary;
  font-size: fluid(64, 275);
  text-transform: uppercase;
}
