@use '@styles/variables' as *;
@use '@styles/helpers' as *;

.hero {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pageTitle {
  font-family: $font-family-secondary;
  font-size: fluid(64, 275);
  text-transform: uppercase;
}
