@use '@styles/variables' as *;
@use '@styles/helpers' as *;

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: $spacing-xxl;
  display: flex;
  justify-content: space-around;
  z-index: 10;
}

.headerNav {
  display: flex;
  gap: $spacing-xxl;
}

.headerNavList {
  display: flex;
  align-items: center;
  gap: inherit;
}

.headerNavListItem {
  text-transform: uppercase;
  transition: $transition-fast;

  @include hover {
    & .headerNavListLink {
      color: $color-primary-hover;
    }
  }
}

.headerNavListLink {
  transition: color $transition-fast;
}

.headerSearchContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: $spacing-sm;
}

.searchLabel {
  position: absolute;
  left: $spacing-lg;
  transition: all $transition-normal;
  z-index: 0;
}

.seachIcon {
  position: absolute;
  right: $spacing-lg;
}

.searchInput {
  background-color: transparent;
  border-radius: $border-radius-xl;
  border: $border-width solid $color-white;
  color: $color-white;
  padding: $spacing-sm $spacing-lg;
  z-index: 10;
  transition:
    transform $transition-normal,
    opacity $transition-fast;

  &:focus {
    &,
    & ~ .seachIcon {
      opacity: 0.5;
    }
    & ~ .searchLabel {
      font-size: rem(16);
      transform: translateY(-$spacing-xl);
    }
  }
}
