@use '@styles/variables' as *;
@use '@styles/helpers' as *;
@use 'sass:color';

.japaneseCities {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: $spacing-xxl;
}

.japaneseCitiesItemImageConteiner {
  min-width: rem(500);
  max-width: rem(500);
  max-height: rem(680);
  overflow: hidden;
}

.japaneseCitiesItemImage {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: $border-radius-lg;
}

.japaneseCitiesItemInfo {
  width: 30%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-xl;
}

.japaneseCitiesItemTitle {
  font-size: fluid(24, 80);
}

.japaneseCitiesItemDescription {
  min-height: rem(190);
  max-height: rem(190);
  color: color.adjust($color-primary, $lightness: -35%);
  font-size: fluid(16, 24);
}

.japaneseCitiesItemDescriptionButtonList {
  display: flex;
  flex-direction: row;
  gap: $spacing-xl;
}

.japaneseCitiesItemDescriptionButtonListItem {
  position: relative;
  .japaneseCitiesItemDescriptionButtonListButton {
    @include hover-zone(-16px);

    position: relative;
    font-size: fluid(16, 28);
    transition: color $transition-fast;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: $border-width;
      background-color: $color-white;
      transition:
        width $transition-fast,
        background-color $transition-fast;
    }
    @include hover {
      &::after {
        width: 100%;
      }
    }

    &.japaneseCitiesItemDescriptionButtonListButtonActive {
      color: $color-secondary;
      &::after {
        width: 100%;
        background-color: $color-secondary;
      }
    }
  }
}

.progressBar {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  width: rem(10);
  background-color: $color-secondary;
  border-radius: rem(5);
  overflow: hidden;
}

.progressBarItem {
  background-color: $color-primary;
  transition: height 0.3s ease;
}
